* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Helvetica";
}

body {
  background: black;
}

.center {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear {
  clear: both;
}

header {
  background: black;
  padding: 5px 0;
  height: auto;
}

/* Header-left */

.header-left {
  float: left;
}

.header-left img {
  width: 120px;
}

.menu-header {
  display: inline-block;
  margin-left: 5px;
}

.menu-header li {
  display: inline-block;
  margin-right: 10px;
}

.menu-header a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

/* Header Right */

.header-right {
  margin-top: 15px;
  margin-right: 2%;
  float: right;
}

.header-right i {
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.notifications {
  position: relative;
}

.circle-notifications {
  position: absolute;
  left: 22px;
  top: -20px;
  width: 12px;
  right: 12px;
  border-radius: 10px;
  background: #e50914;
  color: #fff;
  text-align: center;
}

.circle-notifications span {
  position: relative;
  float: left;
  font-size: 8px;
}

.search,
.notifications {
  display: inline-block;
}

.header-right a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

section.destaque {
  background-image: url("../../assets/vingadores.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.overlay {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.texto-destaque {
  color: #fff;
  z-index: 3;
  position: relative;
  margin-top: 90px;
  margin-left: 4%;
}

.texto-destaque h2 {
  color: #e50914;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.texto-destaque h3 {
  margin: 20px 0;
  font-size: 30px;
}

.texto-destaque p {
  font-size: 18px;
}

.texto-destaque a {
  margin: 0 5px;
  background: rgba(85, 85, 85, 0.3);
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
}

.texto-destaque a:hover {
  color: black;
  background: rgba(255, 255, 255);
}

.texto-destaque i {
  padding: 0.35rem;
}

.classification {
  position: relative;
  background: rgba(85, 85, 85, 0.589);
  width: 7%;
  height: 30px;
  bottom: 30px;
  float: right;
  border-left: 3px solid #fff;
}

.classification img {
  position: absolute;
  top: 1px;
  left: 17px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

.cicle-arrow {
  background: rgba(70, 70, 70, 0.589);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  border: 2px solid #fff;
  width: 42%;
  height: 40px;
  left: -60%;
}

.cicle-arrow:hover {
  background: rgba(85, 85, 85, 0.589);
}

.cicle-arrow i {
  position: absolute;
  top: 2px;
  left: 3px;
}

section.vitrine .vitrine-flex{
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin-right: 5%;
  z-index: 4;
}

.vitrine-single-banner{
  width: 16.6%;
  padding-top: 16.6%;
  background-position: center;
  
}

.vitrine-single-banner:hover{
  transform: scale(1.2,1.2);
  overflow-x: hidden;
  transition: 1s;
}